/*
Variables
*/
// Colors
$primary: #511d6f;
$primary-alt: #301e4e;
// $background: #fef6e4;
$background: #deefed;
$text-titles: #5d566a;
$text-headings: #1f1235;
$text-body: #665d74;
$text-grey: #d9d9d9;
$white: #ffffff;
$dark: #08050e;
$grey: #989898;
$red: #ff6e6c;

// Weights
$light: 300;
$regular: 400;
$semibold: 600;

// Shadows
$big-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.08),
    0px 0px 6px 0px rgba(0, 0, 0, 0.02);

/*
General
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
}

h1,
h2,
h3,
h4,
p,
span,
a {
    font-family: "Inter", sans-serif;
}

// Home - page
.main {
    width: 100%;
    // height: 100svh;
}

.page-content {
    width: 100%;
    height: 100svh;
    background: $background;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 1%;
    // align-items: center;
}

.banner-sec {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home-banner {
        width: 100%;
        border-radius: 1rem;
    }
}

.sidebar::-webkit-scrollbar {
    width: 9px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #d7d7d7;
    border-radius: 100px;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    // border: 1px solid transparent;
    background-clip: content-box;
    background-color: #347f74;
}

.sidebar {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // max-height: calc(100svh - 60px);
    overflow-y: auto;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;

    .titlecard {
        display: flex;
        align-items: end;
        justify-content: space-between;
        color: $text-titles;
        background-color: $white;
        padding: 24px 18px;
        border-radius: 8px;
        box-shadow: $big-box-shadow;
        text-decoration: none;
        border: 1px solid $text-grey;
        margin-right: 16px;

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .number {
                font-size: 16px;
                font-weight: $regular;
                line-height: 1em;
                letter-spacing: -0.5px;
                font-family: "Fira Code", monospace;
            }

            .line-icon {
                width: 1px;
                height: 26px;
            }

            .title {
                font-size: 16px;
                font-weight: $semibold;
                line-height: 1em;
                letter-spacing: -0.25px;
                margin-left: 4px;
            }
        }

        &:hover {
            background-color: $primary;
            color: $background;

            .right {
                svg {
                    path {
                        stroke: $background;
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: 60px;
    background: $primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.87rem;
    border-radius: 8px;

    a.logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        img {
            width: 20px;
        }

        p {
            font-size: 0.8rem;
            color: $white;
            font-weight: $semibold;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 28px;

        a {
            font-size: 0.8rem;
            text-decoration: none;
            color: #d9d9d9;
            letter-spacing: -0.15px;

            &:hover {
                color: $white;
            }
        }
    }
}
